.cm-importer-wrap{
    h1 {
        small{
            font-size: 65%;
            font-style: italic;
            opacity: 0.6;
        }
    }
    .cm-row{
        margin: 0 -10px;
        overflow: hidden;
        width: 100%;
    }
    .cm-col{
        width: 100%;
        float: left;
        padding: 0 10px;
        box-sizing: border-box;

        @media(min-width: 1220px){
            width: 50%;
        }
    }
    .card{
        max-width: none;
    }
    .cm-step{
        display: none;
    }
    .cm-step-pt{
        display: block;
    }
    
    .cm-step-upload{
        .btn-upload{
            position: relative;
        }
        .cm_importer_upload{
            position: absolute;
            opacity: 0;
            width: 100%;
            height: 100%;
            display: block;
            top: 0;
            left: 0;
            padding: 0;
            margin: 0;
        }
        .btn-avancar{
            display: none;
        }
    }
    .cm-step-fields{
        .cm-col{
            @media(min-width: 1220px){
                width: auto;
            }
        }
        table{
            /*background-color: #f8f8f8;*/
            border: solid 1px #ccc;
            width: auto;
            
            thead{
                th,td{
                    /*background-color: #f3f3f3;*/
                }
                border-bottom: solid 1px #ccc;
            }
            tbody {
                tr:nth-child(odd){
                    background-color: #f9f9f9;
                }
            }
            th {
               padding-left: 10px; 
            }
        }
        li{
            list-style-type: disc;
            list-style-position: inside;
        }
    }
    
    .cm-step-add-content{
        .cm-col{
            max-height: 400px;
            overflow: auto;
            
            tr:nth-child(1) th{
                position: sticky;
                top: 0;
                background: #fff;
                border-top: 1px solid #e5e5e5;
                border-bottom: none;
            }
            tr:nth-child(2) th{
                border-top: 1px solid #e5e5e5;
                position: sticky;
                background: #fff;
                top: 36px;
            }
            margin-bottom: 30px;
        }
        table {
            border-top: none;
            table-layout: auto;
        }
    }
}