.cm-importer-wrap h1 small {
  font-size: 65%;
  font-style: italic;
  opacity: 0.6; }
.cm-importer-wrap .cm-row {
  margin: 0 -10px;
  overflow: hidden;
  width: 100%; }
.cm-importer-wrap .cm-col {
  width: 100%;
  float: left;
  padding: 0 10px;
  box-sizing: border-box; }
  @media (min-width: 1220px) {
    .cm-importer-wrap .cm-col {
      width: 50%; } }
.cm-importer-wrap .card {
  max-width: none; }
.cm-importer-wrap .cm-step {
  display: none; }
.cm-importer-wrap .cm-step-pt {
  display: block; }
.cm-importer-wrap .cm-step-upload .btn-upload {
  position: relative; }
.cm-importer-wrap .cm-step-upload .cm_importer_upload {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  display: block;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0; }
.cm-importer-wrap .cm-step-upload .btn-avancar {
  display: none; }
@media (min-width: 1220px) {
  .cm-importer-wrap .cm-step-fields .cm-col {
    width: auto; } }
.cm-importer-wrap .cm-step-fields table {
  /*background-color: #f8f8f8;*/
  border: solid 1px #ccc;
  width: auto; }
  .cm-importer-wrap .cm-step-fields table thead {
    border-bottom: solid 1px #ccc; }
    .cm-importer-wrap .cm-step-fields table thead th, .cm-importer-wrap .cm-step-fields table thead td {
      /*background-color: #f3f3f3;*/ }
  .cm-importer-wrap .cm-step-fields table tbody tr:nth-child(odd) {
    background-color: #f9f9f9; }
  .cm-importer-wrap .cm-step-fields table th {
    padding-left: 10px; }
.cm-importer-wrap .cm-step-fields li {
  list-style-type: disc;
  list-style-position: inside; }
.cm-importer-wrap .cm-step-add-content .cm-col {
  max-height: 400px;
  overflow: auto;
  margin-bottom: 30px; }
  .cm-importer-wrap .cm-step-add-content .cm-col tr:nth-child(1) th {
    position: sticky;
    top: 0;
    background: #fff;
    border-top: 1px solid #e5e5e5;
    border-bottom: none; }
  .cm-importer-wrap .cm-step-add-content .cm-col tr:nth-child(2) th {
    border-top: 1px solid #e5e5e5;
    position: sticky;
    background: #fff;
    top: 36px; }
.cm-importer-wrap .cm-step-add-content table {
  border-top: none;
  table-layout: auto; }

/*# sourceMappingURL=back.css.map */
