.banner-wrap {
    filter: drop-shadow(0px 10px 5px rgba(80, 80, 80, 0.3));
    
    .ratio {
        width: 100%;
        display: none;
        
        &.ratio_l{
            @media(orientation: landscape){
                display: block;
            }
        }
        &.ratio_p{
            @media(orientation: portrait){
                display: block;
            }
        }
    }
}

.banner-slide{
    height: 100%;
    top: 0;
    left: 0;
    width: 100%;
    position: absolute;
    

    *{
        position: relative;
    }
    
    
    .slider {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 1;

        .item {
            font-family: marvel, serif;
            letter-spacing: 0;
            height: 100%;
            width: 100%;
            
            p {
                font-weight: bold;
                margin: 0;
                line-height: 1;
            }

            .foto {
                position: absolute;
                top: 0; 
                left: 0;
                width: 100%;
                height: 100%; 
                /*background-size: cover;*/
                /*object-fit: cover;*/
                
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                
                &:before {
                    content: attr(data-content);
                    display: block;
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                }
            }
            
            .banner-item{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translateX(-50%) translateY(-50%);
                
                &.top{
                    top: 10%;
                    bottom: auto;
                }
                &.middle{
                    top: 50%;
                    bottom: auto;
                    transform: translateY(-50%);
                    &.center{
                        transform: translateX(-50%) translateY(-50%);
                    }
                }
                &.bottom{
                    top: auto;
                    bottom: 50%;
                }
                &.left{
                    left: 10%;
                    right: auto;
                }
                &.center{
                    left: 50%;
                    right: auto;
                    transform: translateX(-50%);
                }
                &.right{
                    left: auto;
                    right: 10%;
                }
                
                @media(max-width: 1024px) and (orientation: landscape){
                    &.land-xs-top{
                        top: 10%;
                        bottom: auto;
                    }
                    &.land-xs-middle{
                        top: 50%;
                        bottom: auto;
                        transform: translateY(-50%);
                        &.land-xs-center{
                            transform: translateX(-50%) translateY(-50%);
                        }
                    }
                    &.land-xs-bottom{
                        top: auto;
                        bottom: 50%;
                    }
                    &.land-xs-left{
                        left: 10%;
                        right: auto;
                    }
                    &.land-xs-center{
                        left: 50%;
                        right: auto;
                        transform: translateX(-50%);
                    }
                    &.land-xs-right{
                        left: auto;
                        right: 10%;
                    }
                }
                @media(min-width: 1025px) and (orientation: landscape){
                    &.land-lg-top{
                        top: 10%;
                        bottom: auto;
                    }
                    &.land-lg-middle{
                        top: 50%;
                        bottom: auto;
                        transform: translateY(-50%);
                        &.land-lg-center{
                            transform: translateX(-50%) translateY(-50%);
                        }
                    }
                    &.land-lg-bottom{
                        top: auto;
                        bottom: 50%;
                    }
                    &.land-lg-left{
                        left: 10%;
                        right: auto;
                    }
                    &.land-lg-center{
                        left: 50%;
                        right: auto;
                        transform: translateX(-50%);
                    }
                    &.land-lg-right{
                        left: auto;
                        right: 10%;
                    }
                }
                @media(max-width: 600px) and (orientation: portrait){
                    &.port-xs-top{
                        top: 10%;
                        bottom: auto;
                    }
                    &.port-xs-middle{
                        top: 50%;
                        bottom: auto;
                        transform: translateY(-50%);
                        &.port-xs-center{
                            transform: translateX(-50%) translateY(-50%);
                        }
                    }
                    &.port-xs-bottom{
                        top: auto;
                        bottom: 10%;
                    }
                    &.port-xs-left{
                        left: 10%;
                        right: auto;
                    }
                    &.port-xs-center{
                        left: 50%;
                        right: auto;
                        transform: translateX(-50%);
                    }
                    &.port-xs-right{
                        left: auto;
                        right: 10%;
                    }
                }
                @media(min-width: 601px) and (orientation: portrait){
                    &.port-lg-top{
                        top: 10%;
                        bottom: auto;
                    }
                    &.port-lg-middle{
                        top: 50%;
                        bottom: auto;
                        transform: translateY(-50%);
                        &.port-lg-center{
                            transform: translateX(-50%) translateY(-50%);
                        }
                    }
                    &.port-lg-bottom{
                        top: auto;
                        bottom: 10%;
                    }
                    &.port-lg-left{
                        left: 10%;
                        right: auto;
                    }
                    &.port-lg-center{
                        left: 50%;
                        right: auto;
                        transform: translateX(-50%);
                    }
                    &.port-lg-right{
                        left: auto;
                        right: 10%;
                    }
                }
            }
        }
    }
}
.banner-faixa-bottom{
    width: 100%;
    display: block;
    position: absolute;
    bottom: 0;
    /*transform: translateY(-100%);
    margin-top: 1px;*/
}